body {
    margin: 0px;
    padding: 0px;
}

.nav {
    background-color: rgb(85, 80, 80);
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    width: 100%;
}

.top-nav {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.nav-bar ul {
    display: flex;

}

.nav-bar li {
    list-style: none;


}

.nav-bar li a {
    text-decoration: none;
    color: white;
    padding-right: 40px;


}

.nav-bar ul li a:hover {
    color: rgb(64, 64, 95);
}

.details {
    position: relative;
    background: url(file:///C:/Users/win10/Desktop/Carvilla%20Free%20Website%20Template%20-%20Free-CSS.com/carvilla-v1.0/assets/images/welcome-hero/welcome-banner.jpg);
    background-size: cover;
    background-position: center;
    /* min-height: 620px; */
    padding-top: 225px;
    padding-bottom: 420px;
}

.details:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 45, 84, .60);
}

.container2 {
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
}




.car-de1 {
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    flex-flow: nowrap;

}

.car-det1 h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 45px;
    color: whitesmoke;
}

.car-det2 p {
    position: relative;
    font-size: 18px;
    max-width: 735px;
    font-weight: 500;
    margin: 0 auto;
    color: whitesmoke;
}

.car-det3 input {
    position: relative;
    margin-top: 55px;
    width: 230px;
    height: 60px;
    background: #4e4ffa;
    border-radius: 3px;
    color: white;
    border: 0px;
    font-size: 16px;

}

.car-det3 input:hover {
    background-color: blue;
}

.form {

    float: left;
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
}

.car-form {
    margin: 0 auto;
    max-width: 1020px;
}

.top-part {
    width: 32%;
    float: left;
    margin: 4px;
}

select {
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

.lower-part {
    float: left;
    flex: marg;
    margin: 5px;
    width: 31%;
}

.heading h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px
}

.select select {
    font-size: 20px;
    border: none;
    background: #f8f8f8;
    color: #a7acb2;
}

.Form-full {}

.button-search {
    padding-top: 185px;
    padding-left: 70px;
}

.button {
    /* font-size: 0px; */
    text-align: right;
}

input[type="button"] {
    font-size: 30px;
    transform: text;
    text-transform: capitalize;
    background-color: #4e4ffa;
    max-width: 220px;
    height: 85px;
    color: white;
    border: none;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}

.section-header {
    text-align: center;
}

.section-header p {
    font-size: 20px;
    margin-bottom: -20px;
}

.section-header h2 {
    font-size: 50px;
}

.container3 {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.car-section {
    width: 60%;
    float: left;
    padding-top: 40px;
}

.image-section {
    padding-left: 20px;
    padding-right: 20px;
}

.image-section img {
    max-width: 100%;
}

.det-section {
    width: 40%;
    float: left;
    padding-bottom: 40px;
}

.about-section {
    padding-left: 20px;
    padding-right: 20px;
}

.about-section h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 26px;
    color: #444a57;
}

.about-section p {
    margin: 0;
    color: #818998;
    font-size: 20px;
    line-height: 1.8;
    text-transform: initial;
}

p.another {
    padding-top: 20px;
}
.slider {
    padding-left: 25px;
    padding-right: 25px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(80, 77, 77);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
a.prev {
    left: 0px;
 
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(234, 200, 200, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.contact-section {
    background: #2a2d54;
    clear: both;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px 0px;
}

.info p {
    font-size: 18px;
    color: #eeeff6;
    max-width: 300px;
    margin: 40px 0 20px;
}

.cont-info p {
    font-size: 18px;
    color: #eeeff6;
    max-width: 300px;

}

a {
    text-decoration: none;
    color: #cfd0e3;
}

li {
    list-style: none;
    padding-top: 19px;
}


.heading1 h2 {
    color: #fff
}



.update p {
    color: #cfd0e3
}

@media only screen and (max-width: 600px) {
    .top-part {
        width: 100%;
        float: left;
        margin: 4px;
    }

    .car-section {
        width: 100%;
        float: left;
    }
}

@media only screen and (max-width: 600px) {
    .lower-part {
        width: 100%;
        float: left;
        margin: 4px;
    }

    .det-section {
        width: 100%;
        float: left;
    }
}

@media only screen and (min-width: 601px) {
    .Form-full {
        width: 70%;
        float: left;
    }

    .button-search {
        float: left;
        width: 30%;
        text-align: center;
        padding-top: 158px;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .button input {
        font-size: 21px;
        transform: text;
        text-transform: capitalize;
        background-color: #4e4ffa;
        width: 127px;
        height: 44px;
        color: white;
        border: none;
        border-radius: 3px;
    }

}

@media only screen and (max-width: 1300px) and (min-width: 600px) {

    .button-search {
        padding-top: 150px !important;
        padding-left: 0px !important;

    }
}

@media only screen and (max-width: 999px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 40px 40px;
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .logo a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .info p {
        font-size: 15px;
        color: #eeeff6;
        max-width: 300px;
        margin: 40px 0 20px;
    }

    .cont-info p {
        font-size: 15px;
        color: #eeeff6;
        max-width: 300px;

    }

    .heading1 h2 {
        color: #fff;
        font-size: 16px;
    }

    a {
        text-decoration: none;
        color: #cfd0e3;
        font-size: 14px;
    }
}
